@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?45683726');
  src: url('../font/fontello.eot?45683726#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?45683726') format('woff2'),
       url('../font/fontello.woff?45683726') format('woff'),
       url('../font/fontello.ttf?45683726') format('truetype'),
       url('../font/fontello.svg?45683726#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?45683726#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-th:before { content: '\e800'; } /* '' */
.icon-volume-down:before { content: '\e801'; } /* '' */
.icon-download-1:before { content: '\e802'; } /* '' */
.icon-th-list:before { content: '\e803'; } /* '' */
.icon-volume-up:before { content: '\e804'; } /* '' */
.icon-alert:before { content: '\e805'; } /* '' */
.icon-export:before { content: '\e806'; } /* '' */
.icon-location:before { content: '\e807'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-videocam:before { content: '\e809'; } /* '' */
.icon-cd:before { content: '\e80a'; } /* '' */
.icon-globe:before { content: '\e80b'; } /* '' */
.icon-calendar-1:before { content: '\e80c'; } /* '' */
.icon-sound:before { content: '\e80d'; } /* '' */
.icon-wikipedia:before { content: '\e80e'; } /* '' */
.icon-youtube:before { content: '\e80f'; } /* '' */
.icon-call:before { content: '\e810'; } /* '' */
.icon-download-2:before { content: '\e811'; } /* '' */
.icon-block:before { content: '\e812'; } /* '' */
.icon-attention-circled:before { content: '\e813'; } /* '' */
.icon-down-circled:before { content: '\e814'; } /* '' */
.icon-rss:before { content: '\e815'; } /* '' */
.icon-download-3:before { content: '\e816'; } /* '' */
.icon-amazon-1:before { content: '\e817'; } /* '' */
.icon-print:before { content: '\e818'; } /* '' */
.icon-download-5:before { content: '\e819'; } /* '' */
.icon-eye:before { content: '\e81a'; } /* '' */
.icon-fax:before { content: '\e81b'; } /* '' */
.icon-star:before { content: '\e81c'; } /* '' */
.icon-lock-empty:before { content: '\e81d'; } /* '' */
.icon-lock-open-empty:before { content: '\e81e'; } /* '' */
.icon-videocam-1:before { content: '\e81f'; } /* '' */
.icon-export-1:before { content: '\e820'; } /* '' */
.icon-book-2:before { content: '\e821'; } /* '' */
.icon-arrow-left:before { content: '\e822'; } /* '' */
.icon-arrow-right:before { content: '\e823'; } /* '' */
.icon-shopping-cart-1:before { content: '\e824'; } /* '' */
.icon-headphones:before { content: '\e825'; } /* '' */
.icon-download:before { content: '\e826'; } /* '' */
.icon-headphones-1:before { content: '\e827'; } /* '' */
.icon-user:before { content: '\e828'; } /* '' */
.icon-user-1:before { content: '\e829'; } /* '' */
.icon-download-4:before { content: '\f02e'; } /* '' */
.icon-info-circled:before { content: '\f085'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */