/**
 * The contents of this file are subject to the license and copyright
 * detailed in the LICENSE and NOTICE files at the root of the source
 * tree and available online at
 *
 * http://www.dspace.org/license/
 */

/**
 * You can put your own style in this file.
 * It will be included in all color schemes
 */

#main-container #sidebar {
    background-color: #fff;
}

header .navbar-default, .trail-wrapper, .alert-info {
    background-color: #193364;
}


.first-page-header, .list-group-item.active::before,
#ds-options .ds-option-set-head,
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    color: #193364;
}


.list-item-header, .page-header {
    border-bottom: 1px solid #ddd;
}


.trail-wrapper {
    color: #fff;
    border-bottom: 0px;
}


.trail-wrapper .breadcrumb > .active {
    color: #BCB6B6;
}


header .navbar-logo img {
    height: 90px;
}


.navbar-text {
    font-size: 250%;
    color: #fff !important;
}


.trail-bottom {
    height: 2em;
    background: #f8f3f3 url("../images/raster.gif") repeat-x bottom;
}


ul.unstyled {
    list-style: none;
}


.list-group {
    margin-bottom: 20px;
    padding-left: 0;
    border: 1px solid #d8e8eb;
}


.list-group-item.ds-option.nested {
    margin-left: 25px;
}


.list-group-item {
    position: relative;
    display: block;
    padding: 5px 15px;
    margin-bottom: -1px;
    background-color: white;
    border: 0;
}


.list-group-item.active::before {
    font-weight: bold;
    margin-left: -10px;
    padding-right: 5px;
}


a.list-group-item {
    color: #607890;
}


#ds-options .ds-option-set-head {
    margin-bottom: 0px;
    background-color: #f0f2f5;
    padding: 5px;
    font-weight: bold;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #fff;
    z-index: 2;
}


.show.conditions {
    display: inline !important;
}


.artifact-info span {
    display: block;
}


.access {
    float: right;

}


.thumbnail .caption {
    padding: 0;
}


.media .media-left .media-object {
    max-width: 60px;
}


.access.order {
    color: #2d487b !important;
    cursor: pointer;
}


#details > span {
    font-weight: bold;
    color: #565353;
    display: block;
}


#aspect_artifactbrowser_ItemViewer_div_item-view .page-header {
    margin-top: 10px;
}


.secondary-data {
    margin-bottom: 10px;
}


#aspect_artifactbrowser_ItemViewer_div_item-view h3 {
    font-size: 20px;
}


#aspect_artifactbrowser_ItemViewer_div_item-view h4 {
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 0;
}


.gray {
    color: gray;
}


.relation, .relation a, .event {
    display: inline-block;
    font-weight: bold;
    font-size: small;
    color: gray;
}


.dateissued {
    display: inherit;
}


ul#myTab li a {
    cursor: pointer;
    font-weight: bold;
    font-size: small;
}


.details {
    margin-bottom: 20px;
}


.details a img {
    max-width: 40px;
    display: inline;
    margin-left: 5px;
}


#abstract {
    text-align: justify;
}


#aspect_discovery_Navigation_list_discovery .list-group-item.ds-option {
    margin-left: 10px;
}


.item-wrapper {
    padding: 15px;
}


.caption .artifact-title {
    font-size: small;
}


#thumbnail {
    max-width: 100%;
}


.thumbnail > img, .thumbnail > a > img {

    border: 1px solid #ddd;
}


h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
    color: #595656;
}


.glyphicon.glyphicon-home {
    font-size: small;
    color: gray;
}


#file_news_div_news .row {
    margin-bottom: 20px;
}


.artifact-info .abstract {
    font-size: small;
    text-align: justify;
}


.simple-item-view-collections.item-page-field-wrapper.table {
    margin-top: 2em;
    border-top: 1px solid #eee;
}


.box {
    margin: 10px 50px 10px 30px;
    text-align: justify;
}


.address {
    margin: 0;
}


.dl-horizontal dt {
    width: 360px;
    white-space: normal;
    overflow: visible;
}


.dl-horizontal dd {
    margin-left: 380px;
}


.item {
    padding: 10px 0 20px 0;
}


.contact h4 {
    margin-top: 30px;
}


.contact p {
    margin-bottom: 0;
}


.icon {
    font-size: 20px;
}


.icon-info-circled {
    color: #7D8FB2;
    cursor: pointer;
    font-size: small;
}


#agb {
    text-align: justify;
    margin-left: -25px;
    margin-right: 10px;
}


.numeric {
    white-space: nowrap;
}


.alert-info {
    background-color: #f8f3f3;
    color: #193364;
    border-color: #193364;
}

@media (min-width: 481px) {

    body, .main-content, #main-container #sidebar, #ds-options .list-group-item.ds-option,
    #main-container .horizontal-slider, .panel-default > .panel-body,
    .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus,
    #myTab.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #F8F3F3;
    }


    #main-container #sidebar {
        border-left: 1px dotted #08204A;
        margin-top: 10px;
        margin-bottom: 10px;
    }


    #ds-options .ds-option-set-head {
        text-transform: uppercase;
        color: #08204A;
        text-shadow: none;
        border-bottom: 1px solid #2D487B;
        background-color: inherit;
        font-weight: bold;
        padding: 5px;
    }


    #ds-options > h2.ds-option-set-head.h6.page-header.h6 {
        border-bottom: 1px solid #2D487B;
    }


    .list-group {
        border: none;
    }


    a.list-group-item {
        color: #4A6392;
    }


    #copyright {
        font-size: small;
        text-align: justify;
    }


    footer .row > div {
        padding-top: 10px;
        border-top: 1px solid #193364;
    }


    .thumbnail .caption {
        color: #08204A;
    }


    .panel-default, .media-object.poster {
        box-shadow: 3px 3px 3px #c0bebe;
    }


    .ds-static-div > .panel-default.panel-first {
        margin-top: 30px;
    }


    #aspect_artifactbrowser_CommunityViewer_div_community-view > ul > li.ds-artifact-item {
        background: #F8F3F3;
        margin-bottom: 0;
    }


    div.ds-static-div.primary .ds-artifact-list .ds-artifact-item {
        border: 1px solid #EAE9E7;
        border-radius: 8px;
        margin-bottom: 15px;
    }


    div.ds-static-div.secondary .ds-artifact-list .ds-artifact-item {
        background-color: inherit;
        border: none;
    }


    #thumbnail {
        padding: 0;
    }


    #thumbnail > img {
        width: 100% !important;
    }


    .thumbnail > img, .thumbnail > a > img {
        box-shadow: 3px 3px 3px #9b9797;
    }


    .fa {
        color: #5c5757;
    }


    ul {
        list-style-type: none;
    }


    ul.styled li::before {
        color: #193364;
        content: "\0025A0 \00200B";
        margin-right: 5px;
    }


    #aspect_artifactbrowser_ItemViewer_div_item-view {
        margin-top: 10px;
    }


    #aspect_artifactbrowser_ItemViewer_div_item-view .page-header {
        margin-top: 0;
    }


    .table-striped > tbody > tr:nth-child(2n+1),
    .recent-submission,
    .thumbnail, .panel-default > .panel-heading,
    div.ds-static-div.primary .ds-artifact-list .ds-artifact-item,
    .badge, .btn-default,
    .nav-tabs li.active a, .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: #EAE9E7;
    }


    .recent-submission {
        padding: 15px 0 0 15px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }


    hr {
        border-top: 1px solid #ddd;
    }


    #ds-search-form fieldset {
        margin-top: 5px;
    }


    #aspect_artifactbrowser_CommunityViewer_div_community-view h3 {
        display: none;
    }


    a, a.list-group-item, .icon-arrow-left, .icon-arrow-right {
        color: #2d487b;
    }


    a.all {
        color: #607890;
        font-size: 14px;
        margin-top: 10px;
    }


    .badge {
        margin: 0 5px;
        color: #555;
        border: 1px solid #ccc;
    }


    #pid {
        white-space: nowrap;
    }


    .breadcrumb li a {
        color: #fff;
    }


    .rs {
        max-width: 120px !important;
    }


    .recentSubmissionViewMore {
        margin-top: 5px;
    }


    .btn-default {
        color: #000;
    }


    .author h4, publishing-date h4
    .icon.shop, .icon.sc {
        line-height: 25px;
        font-size: 25px;
        color: #2c2a2a;
    }


    .pagination > li > a, .pagination > li > span,
    .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus,
    .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
        background-color: inherit;
        border: none;
    }


    i {
        font-size: 16px;
        color: #555;
    }


    .icon-shopping-cart {
        font-size: 22px;
    }
}


.shoping-cart.infobox h2 {
    margin: 0;
}


.list-group-item-heading {
    font-weight: bold;
}

@media (min-width: 992px) {
    .container > .navbar-header {
        width: 24%;
    }
}

.cover-preview > a > img {
    max-height: 240px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #9b9797;
}


.recent-submission > div > div > a > div > img {
    max-height: 220px;
}


.list-group-item-heading {
    font-weight: bold;
}


.input-group {
    width: 100%;
}

@media (min-width: 481px) and (max-width: 992px) {
    .header-image img {
        width: 400px;
    }


}

@media (min-width: 769px) {

    div.ds-logo-wrapper {
        max-width: 150px;
        margin-top: -18%;
    }


    .logo.img-circle {
        max-width: 150px;
    }
}


.breadcrumb {
    padding: 8px 0;
}


.input-group {
    width: 100%;
}


.trail-wrapper .breadcrumb > li + li::before {
    color: #fff;
    content: "\00a0>";
}


.footnote {
    text-align: justify;
    color: #193364;
    margin-left: 2%;
    margin-right: 6%;
    font-size: small;
}


#services > div > div > img {
    max-width: 50px;
}


#login {
    color: #193364;
}


.navbar-nav:hover {
    background-color: #193364;
}


.news span {
    display: inline-block;
}


.title, .biblio {
    font-weight: bold;
}


.biblio {
    color: #999;
}


.icon-attention-circled {
    color: #A80C24;
}


.ds-static-div {
    padding-right: 15px;
}


a.tooltip {
    text-decoration: none;
}


.icon-body {
    padding-left: 2em;
}


.tab-content > .active {
    padding-bottom: 5em;
}


.container-fluid.covers {
    margin-top: 5px;
}


.news .list-item-header {
    margin-top: 30px;
}


.strech-top {
    margin-top: 20px;
}


.strech-bottom {
    margin-bottom: 20px;
}


#aspect_discovery_SiteRecentSubmissions_div_site-recent-submission > div > div > a > div.thumbnail.artifact-preview {
    min-height: 280px;
}


#totop {
    background: #EAE9E7;
    border: none;
    border-radius: 5px 0 0 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 3px;
    color: #163776;
    display: none;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 999;
}


.orcid {
    color: #94c294;
}


.orcid a, .gnd a {
    color: white;
}


.extern-link::after {
    content: "\f08e ";
    font-family: fontello;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    padding-left: 5px;
}


.simple-item-view-collections {
    display: none;
}


.flag {
    padding: 0 5px 0 0;
}


#trail-dropdown-toggle {
    color: white;
}


#ds-search-form-sm {
    margin-bottom: 10px;
}


#trail-dropdown-toggle {
    color: white;
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }


    h2, .h2 {
        font-size: 20px;
    }


    header .navbar-brand img {
        height: auto;
    }


    .artifact-description i, .item-summary-view-metadata i {
        display: none;
    }


    .navbar-brand {
        padding: 15px 0 0 15px;
    }


    .navbar-toggle {
        margin-right: 0;
    }


    header .navbar-brand img {
        width: 140px;
    }


    .badge {
        background-color: #445F91;
        margin-left: 5px;
        padding: 3px 5px;
        font-size: 10px;
    }


    #aspect_discovery_SimpleSearch_div_search-results .ds-artifact-item {
        margin-bottom: 15px;
        border-bottom: 1px #ccc solid;
    }


    #aspect_discovery_SimpleSearch_div_search-controls-gear, .show-advanced-filters {
        display: none;
    }


    .badge {
        background-color: #445F91;
        margin-left: 5px;
        padding: 3px 5px;
        font-size: 10px;
    }



    #aspect_discovery_SimpleSearch_div_search-controls-gear, .show-advanced-filters {
        display: none;
    }


}


#ds-search-form-sm {
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .breadcrumb li a {
        color: #fff;
    }


    #ds-options > h2.ds-option-set-head.h6.page-header.h6 {
        border-bottom: 1px solid #2D487B;
        padding-bottom: 5px;
    }


    .shopping-cart.infobox h2 {
        margin: 0;
    }
}

.alone {
    padding-left: 15px;
}


.narrow {
    margin-bottom: 0;
}


.license {
    text-transform: uppercase;
}

.pagination-simple.clearfix.top {
    margin-right: 15px;
}

.pagination-masked.clearfix.top {
    margin: 15px;
}